# Core Flask requirements
flask[async]
openai
python-dotenv
spacy>=3.0.0

#Auth0
authlib>=1.0
python-jose>=3.3.0


# Image processing
pytesseract
pdf2image
Pillow
pyheif

# Database
psycopg2-binary
SQLAlchemy==2.0.23
alembic==1.12.1

# PDF generation
reportlab

# File handling
werkzeug
PyPDF2

# Google API
google-auth
google-api-python-client
google-auth-httplib2  # Add this for HTTP client support

# Async support
asyncio  # Add this for async operations 

# AWS integration
boto3>=1.28.0
botocore>=1.31.0
